In [1]:
import pandas as pd
from random import choice
import datetime
import matplotlib.pyplot as plt
from matplotlib.colors import get_named_colors_mapping
import matplotlib.animation as animation
from IPython.display import HTML
import bar_chart_race as bcr
import warnings
warnings.filterwarnings('ignore')

In [2]:
url = "https://covid.ourworldindata.org/data/owid-covid-data.csv"

In [3]:
data=pd.read_csv(url)

In [4]:
#data = pd.read_csv("./inputs/owid-covid-data.csv")

In [5]:
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93944 entries, 0 to 93943
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               93944 non-null  object
 1   continent                              89500 non-null  object
 2   location                               93944 non-null  object
 3   date                                   93944 non-null  object
 4   total_cases                            90956 non-null  float64
 5   new_cases                              90953 non-null  float64
 6   new_cases_smoothed                     89943 non-null  float64
 7   total_deaths                           80993 non-null  float64
 8   new_deaths                             81150 non-null  float64
 9   new_deaths_smoothed                    89943 non-null  float64
 10  total_cases_per_million                90470 non-null  float64
 11  new_cases_per_million                  90467 non-null  float64
 12  new_cases_smoothed_per_million         89462 non-null  float64
 13  total_deaths_per_million               80520 non-null  float64
 14  new_deaths_per_million                 80677 non-null  float64
 15  new_deaths_smoothed_per_million        89462 non-null  float64
 16  reproduction_rate                      75391 non-null  float64
 17  icu_patients                           9506 non-null   float64
 18  icu_patients_per_million               9506 non-null   float64
 19  hosp_patients                          11803 non-null  float64
 20  hosp_patients_per_million              11803 non-null  float64
 21  weekly_icu_admissions                  861 non-null    float64
 22  weekly_icu_admissions_per_million      861 non-null    float64
 23  weekly_hosp_admissions                 1499 non-null   float64
 24  weekly_hosp_admissions_per_million     1499 non-null   float64
 25  new_tests                              42244 non-null  float64
 26  total_tests                            41934 non-null  float64
 27  total_tests_per_thousand               41934 non-null  float64
 28  new_tests_per_thousand                 42244 non-null  float64
 29  new_tests_smoothed                     48953 non-null  float64
 30  new_tests_smoothed_per_thousand        48953 non-null  float64
 31  positive_rate                          46132 non-null  float64
 32  tests_per_case                         45533 non-null  float64
 33  tests_units                            50540 non-null  object
 34  total_vaccinations                     13602 non-null  float64
 35  people_vaccinated                      12818 non-null  float64
 36  people_fully_vaccinated                10084 non-null  float64
 37  new_vaccinations                       11400 non-null  float64
 38  new_vaccinations_smoothed              23125 non-null  float64
 39  total_vaccinations_per_hundred         13602 non-null  float64
 40  people_vaccinated_per_hundred          12818 non-null  float64
 41  people_fully_vaccinated_per_hundred    10084 non-null  float64
 42  new_vaccinations_smoothed_per_million  23125 non-null  float64
 43  stringency_index                       79204 non-null  float64
 44  population                             93324 non-null  float64
 45  population_density                     87359 non-null  float64
 46  median_age                             84246 non-null  float64
 47  aged_65_older                          83296 non-null  float64
 48  aged_70_older                          83779 non-null  float64
 49  gdp_per_capita                         84508 non-null  float64
 50  extreme_poverty                        57149 non-null  float64
 51  cardiovasc_death_rate                  84643 non-null  float64
 52  diabetes_prevalence                    86650 non-null  float64
 53  female_smokers                         66244 non-null  float64
 54  male_smokers                           65273 non-null  float64
 55  handwashing_facilities                 42523 non-null  float64
 56  hospital_beds_per_thousand             77152 non-null  float64
 57  life_expectancy                        89208 non-null  float64
 58  human_development_index                84816 non-null  float64
dtypes: float64(54), object(5)
memory usage: 42.3+ MB

In [7]:
data2 = data[["location","date","total_cases"]]

In [8]:
data2[["date"]]= data2[["date"]].apply(pd.to_datetime)

In [9]:
data2.info(),data2.date.min()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93944 entries, 0 to 93943
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   location     93944 non-null  object
 1   date         93944 non-null  datetime64[ns]
 2   total_cases  90956 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 2.2+ MB

(None, Timestamp('2020-01-01 00:00:00'))

In [10]:
data2["days"] = ((data2["date"]-data2.date.min()).astype(int)/10e8)/86400

In [11]:
data2.head()

      location       date  total_cases  days
0  Afghanistan 2020-02-24          1.0  54.0
1  Afghanistan 2020-02-25          1.0  55.0
2  Afghanistan 2020-02-26          1.0  56.0
3  Afghanistan 2020-02-27          1.0  57.0
4  Afghanistan 2020-02-28          1.0  58.0

In [12]:
data2.days.max()

522.0

In [13]:
data2.dtypes

location               object
date           datetime64[ns]
total_cases           float64
days                  float64
dtype: object

In [14]:
data2["day"] = data2['date'].map(lambda x: x.day)
data2["month"] = data2['date'].map(lambda x: x.month)
data2["year"] = data2['date'].map(lambda x: x.year)
data2.head()

      location       date  total_cases  days  day  month  year
0  Afghanistan 2020-02-24          1.0  54.0   24      2  2020
1  Afghanistan 2020-02-25          1.0  55.0   25      2  2020
2  Afghanistan 2020-02-26          1.0  56.0   26      2  2020
3  Afghanistan 2020-02-27          1.0  57.0   27      2  2020
4  Afghanistan 2020-02-28          1.0  58.0   28      2  2020

In [15]:
data2= data2.drop(columns=["date","year"], index=1)

In [16]:
data2.head()

      location  total_cases  days  day  month
0  Afghanistan          1.0  54.0   24      2
2  Afghanistan          1.0  56.0   26      2
3  Afghanistan          1.0  57.0   27      2
4  Afghanistan          1.0  58.0   28      2
5  Afghanistan          1.0  59.0   29      2

In [17]:
#data2.set_index("location")
#data2.head()
data2 = data2.groupby(["location", "days"], as_index= False).sum()

In [18]:
data2

          location   days  total_cases  day  month
0      Afghanistan   54.0          1.0   24      2
1      Afghanistan   56.0          1.0   26      2
2      Afghanistan   57.0          1.0   27      2
3      Afghanistan   58.0          1.0   28      2
4      Afghanistan   59.0          1.0   29      2
...            ...    ...          ...  ...    ...
93938     Zimbabwe  518.0      39031.0    2      6
93939     Zimbabwe  519.0      39092.0    3      6
93940     Zimbabwe  520.0      39144.0    4      6
93941     Zimbabwe  521.0      39168.0    5      6
93942     Zimbabwe  522.0      39189.0    6      6

[93943 rows x 5 columns]

In [19]:
data2.columns

Index(['location', 'days', 'total_cases', 'day', 'month'], dtype='object')

In [20]:
data2.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            93933, 93934, 93935, 93936, 93937, 93938, 93939, 93940, 93941,
            93942],
           dtype='int64', length=93943)

In [21]:
data2

          location   days  total_cases  day  month
0      Afghanistan   54.0          1.0   24      2
1      Afghanistan   56.0          1.0   26      2
2      Afghanistan   57.0          1.0   27      2
3      Afghanistan   58.0          1.0   28      2
4      Afghanistan   59.0          1.0   29      2
...            ...    ...          ...  ...    ...
93938     Zimbabwe  518.0      39031.0    2      6
93939     Zimbabwe  519.0      39092.0    3      6
93940     Zimbabwe  520.0      39144.0    4      6
93941     Zimbabwe  521.0      39168.0    5      6
93942     Zimbabwe  522.0      39189.0    6      6

[93943 rows x 5 columns]

In [22]:
data2 = data2[~data2["location"].str.contains("World")]
data2

          location   days  total_cases  day  month
0      Afghanistan   54.0          1.0   24      2
1      Afghanistan   56.0          1.0   26      2
2      Afghanistan   57.0          1.0   27      2
3      Afghanistan   58.0          1.0   28      2
4      Afghanistan   59.0          1.0   29      2
...            ...    ...          ...  ...    ...
93938     Zimbabwe  518.0      39031.0    2      6
93939     Zimbabwe  519.0      39092.0    3      6
93940     Zimbabwe  520.0      39144.0    4      6
93941     Zimbabwe  521.0      39168.0    5      6
93942     Zimbabwe  522.0      39189.0    6      6

[93441 rows x 5 columns]

In [23]:
data2.days.max()

522.0

In [24]:
current_days=150
dff=(data2[data2.days.eq(current_days)].sort_values(by='total_cases', ascending=True).tail(15))
#dff[dff.location=="World"]


display(dff)

fig, ax=plt.subplots(figsize=(15,8))
ax.barh(dff.location, dff.total_cases);

             location   days  total_cases  day  month
86596          Turkey  150.0     163103.0   30      5
38958           India  150.0     181827.0   30      5
32557         Germany  150.0     183189.0   30      5
30573          France  150.0     190744.0   30      5
42420           Italy  150.0     232664.0   30      5
79608           Spain  150.0     239228.0   30      5
88664  United Kingdom  150.0     256469.0   30      5
69818          Russia  150.0     396575.0   30      5
12051          Brazil  150.0     498440.0   30      5
78185   South America  150.0     868854.0   30      5
4540             Asia  150.0    1109546.0   30      5
28888  European Union  150.0    1157968.0   30      5
89166   United States  150.0    1779810.0   30      5
28387          Europe  150.0    1945237.0   30      5
62132   North America  150.0    2007464.0   30      5

In [25]:
countries = list(set(data2.location.tolist()))
values = get_named_colors_mapping().values()

values_list = list(values)

In [26]:
colors=dict(zip(countries,
                [choice(values_list)for x in countries]))

fig, ax = plt.subplots(figsize=(15, 8))
dff = dff[::-1]   

ax.barh(dff['location'], dff['total_cases'], color=[colors[x] for x in dff['location']])

for i, (name, value) in enumerate(zip(dff['location'], dff['total_cases'])):
    #ax.text(value, i,     name,            ha='right')  
    ax.text(value, i,     value,           ha='left',va='bottom')   

ax.text(1, 0.4, datetime.date(1900, int(dff['month'].mean()), 1).strftime('%B'), transform=ax.transAxes, size=46, ha='right')

Text(1, 0.4, 'May')

In [27]:
fig, ax = plt.subplots(figsize=(15, 8))
def draw_barchar(day):
    dff=(data2[data2.days.eq(day)].sort_values(by='total_cases', ascending=True).tail(10))
    ax.clear()
    ax.barh(dff['location'], dff['total_cases'], color=[colors[x] for x in dff['location']])
    
    for i, (name, value) in enumerate(zip(dff['location'], dff['total_cases'].astype(int))):
        #ax.text(value, i,     name,            ha='right')  
        ax.text(value, i,     value,           ha='left')   

    
    ax.text(1, 0.4, datetime.date(1900, int(dff['month'].mean()), 1).strftime('%B'), transform=ax.transAxes, size=46, ha='right')
    #ax.text(1, 0.4, month, transform=ax.transAxes, size=46, ha='right')
    ax.set_title('Coronavirus cases by country', fontdict={'fontsize': 30})
    plt.box(False)
    
draw_barchar(21)

In [28]:
'''
fig, ax = plt.subplots(figsize=(15, 8))

animator = animation.FuncAnimation(fig, draw_barchar, frames=range(20, data2.days.max().astype(int)))

HTML(animator.to_jshtml()) 
animator.save("outputs/Racing Bar Chart.mp4", fps = 10, bitrate = 10000)
animator.save('outputs/race.gif', writer='imagemagick')
'''

'\nfig, ax = plt.subplots(figsize=(15, 8))\n\nanimator = animation.FuncAnimation(fig, draw_barchar, frames=range(20, data2.days.max().astype(int)))\n\nHTML(animator.to_jshtml()) \nanimator.save("outputs/Racing Bar Chart.mp4", fps = 10, bitrate = 10000)\nanimator.save(\'outputs/race.gif\', writer=\'imagemagick\')\n'

In [29]:
data = data[~data["location"].str.contains("World")]
data = data[~data["location"].str.contains("International")]
data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93939,ZWE,Africa,Zimbabwe,2021-06-02,39031.0,33.0,30.286,1599.0,0.0,1.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
93940,ZWE,Africa,Zimbabwe,2021-06-03,39092.0,61.0,34.000,1604.0,5.0,1.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
93941,ZWE,Africa,Zimbabwe,2021-06-04,39144.0,52.0,32.286,1605.0,1.0,1.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
93942,ZWE,Africa,Zimbabwe,2021-06-05,39168.0,24.0,33.571,1605.0,0.0,1.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
93943,ZWE,Africa,Zimbabwe,2021-06-06,39189.0,21.0,35.000,1606.0,1.0,1.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [30]:
df_values, df_ranks = bcr.prepare_long_data(data, index='date', columns=['location'],
                                            values='total_cases', steps_per_period=1)

df_values

location,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-02,74026.0,4864178.0,132351.0,129640.0,13744.0,34960.0,0.0,1262.0,3852156.0,222870.0,...,301524.0,100726.0,4.0,27.0,236755.0,7870.0,0.0,6759.0,96563.0,39031.0
2021-06-03,75119.0,4878800.0,132360.0,129976.0,13752.0,35140.0,0.0,1262.0,3884447.0,222978.0,...,304411.0,100997.0,4.0,27.0,238013.0,8063.0,0.0,6767.0,97388.0,39092.0
2021-06-04,76628.0,4894158.0,132372.0,130361.0,13758.0,35307.0,0.0,1263.0,3915397.0,223050.0,...,308490.0,101198.0,4.0,27.0,239252.0,8364.0,0.0,6773.0,98376.0,39144.0
2021-06-05,77963.0,4906711.0,132374.0,130681.0,13758.0,35594.0,0.0,1263.0,3939024.0,223143.0,...,312703.0,101436.0,4.0,27.0,240714.0,8580.0,0.0,6780.0,99540.0,39168.0
2021-06-06,79224.0,4919397.0,132379.0,130958.0,13758.0,35772.0,0.0,1263.0,3955439.0,223180.0,...,316535.0,101722.0,4.0,27.0,242138.0,8791.0,0.0,6787.0,100278.0,39189.0

In [31]:
df_ranks

location,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,227.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,227.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,227.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,227.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,227.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-02,121.0,216.0,134.0,132.0,83.0,103.0,28.0,42.0,213.0,148.0,...,161.0,128.0,32.0,35.0,149.0,68.0,1.0,64.0,126.0,105.0
2021-06-03,121.0,216.0,134.0,133.0,83.0,103.0,28.0,42.0,213.0,148.0,...,161.0,128.0,32.0,35.0,149.0,68.0,1.0,64.0,126.0,105.0
2021-06-04,121.0,216.0,134.0,133.0,83.0,103.0,28.0,42.0,213.0,148.0,...,161.0,128.0,32.0,35.0,149.0,69.0,1.0,64.0,126.0,105.0
2021-06-05,121.0,216.0,134.0,133.0,83.0,103.0,28.0,42.0,213.0,148.0,...,162.0,128.0,32.0,35.0,149.0,69.0,1.0,64.0,126.0,105.0
2021-06-06,122.0,216.0,134.0,133.0,83.0,104.0,28.0,42.0,213.0,147.0,...,162.0,128.0,32.0,35.0,150.0,70.0,1.0,64.0,127.0,105.0

In [32]:
'''
df_values = df_values.fillna(0)
df_values["Europe"]
df = df_values["Europe"]
df.columns
'''

'\ndf_values = df_values.fillna(0)\ndf_values["Europe"]\ndf = df_values["Europe"]\ndf.columns\n'

In [33]:
%%time
bcr.bar_chart_race(df=df_values, n_bars=10,fixed_max=False,figsize=(5, 3),title='COVID-19 cases by Country',
                   filter_column_colors=True,orientation='h',steps_per_period=10,
                   filename='outputs/covid19_vert2.mp4')

CPU times: user 13min 48s, sys: 6min 4s, total: 19min 53s
Wall time: 6min 44s

In [34]:
%%time
bcr.bar_chart_race(df=df_values, n_bars=15,fixed_max=False,figsize=(5, 3),title='COVID-19 cases by Country',
                   filter_column_colors=True,orientation='h',steps_per_period=5,
                   filename='outputs/race.gif')

CPU times: user 8min 14s, sys: 3min 35s, total: 11min 50s
Wall time: 10min 31s

In [35]:
'''
import plotly.express as px

data = data.fillna(0)
fig = px.line(data, x="date", y="location", color='new_cases')
fig.show()
'''

'\nimport plotly.express as px\n\ndata = data.fillna(0)\nfig = px.line(data, x="date", y="location", color=\'new_cases\')\nfig.show()\n'

In [36]:
import ipywidgets as widgets

In [37]:
list(set(data.continent.values))

[nan, 'Asia', 'Africa', 'North America', 'Oceania', 'South America', 'Europe']

In [38]:
continent = widgets.Select(
    options=list(set(data.continent.values)),
    value='Europe',
    # rows=10,
    description='continent:',
    disabled=False
)

display(continent)

A Jupyter Widget

In [39]:
continent.value

'Europe'

In [40]:
data[data.continent==continent.value]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
949,ALB,Europe,Albania,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
950,ALB,Europe,Albania,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
951,ALB,Europe,Albania,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
952,ALB,Europe,Albania,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
953,ALB,Europe,Albania,2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91102,VAT,Europe,Vatican,2021-06-02,27.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.12,NaN
91103,VAT,Europe,Vatican,2021-06-03,27.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.12,NaN
91104,VAT,Europe,Vatican,2021-06-04,27.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.12,NaN
91105,VAT,Europe,Vatican,2021-06-05,27.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.12,NaN
91106,VAT,Europe,Vatican,2021-06-06,27.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.12,NaN

In [41]:
df_values2, df_ranks2 = bcr.prepare_long_data(data[data.continent==continent.value], index='date', columns=['location'],
                                            values='total_cases', steps_per_period=1)

df_values2 = df_values2.fillna(0)
df_values2

location,Albania,Andorra,Austria,Belarus,Belgium,Bosnia and Herzegovina,Bulgaria,Croatia,Cyprus,Czechia,...,San Marino,Serbia,Slovakia,Slovenia,Spain,Sweden,Switzerland,Ukraine,United Kingdom,Vatican
date,,,,,,,,,,,,,,,,,,,,,
2020-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-02,132351.0,13744.0,645552.0,395990.0,1065358.0,204172.0,419010.0,356829.0,72573.0,1662256.0,...,5090.0,712989.0,389990.0,254419.0,3687762.0,1068473.0,696213.0,2265502.0,4510597.0,27.0
2021-06-03,132360.0,13752.0,645834.0,396869.0,1066957.0,204252.0,419180.0,357109.0,72626.0,1662608.0,...,5090.0,713207.0,390129.0,254692.0,3693012.0,1076993.0,696801.0,2268209.0,4515778.0,27.0
2021-06-04,132372.0,13758.0,646167.0,398052.0,1068406.0,204304.0,419337.0,357197.0,72709.0,1663040.0,...,5090.0,713417.0,390223.0,254973.0,3697981.0,1078062.0,697292.0,2270602.0,4521922.0,27.0
2021-06-05,132374.0,13758.0,646438.0,398909.0,1069874.0,204304.0,419426.0,357408.0,72750.0,1663363.0,...,5090.0,713562.0,390340.0,255218.0,3697981.0,1078062.0,697292.0,2272633.0,4527577.0,27.0
2021-06-06,132379.0,13758.0,646800.0,399852.0,1070802.0,204304.0,419473.0,357565.0,72779.0,1663517.0,...,5090.0,713678.0,390436.0,255375.0,3697981.0,1078062.0,697292.0,2273708.0,4532802.0,27.0

In [42]:
%%time
bcr.bar_chart_race(df=df_values2, n_bars=15,fixed_max=False,figsize=(5, 3),title=f'COVID-19 cases by Country in {continent.value}',
                   filter_column_colors=True,orientation='h',steps_per_period=10,
                   filename='outputs/racecountry.gif')

CPU times: user 15min 15s, sys: 6min 38s, total: 21min 53s
Wall time: 25min 25s